# Android / Kotlin / Gradle
*.iml
*.log
.gradle/
build/
**/build/
.idea/
local.properties
.DS_Store
.cxx/
.externalNativeBuild
captures/
.gradle/
.gradle/**

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# Gradle wrapper
/.gradle
/gradle-wrapper.jar

# NDK
obj/
libs/

# Android Studio
/.idea
/.idea/*
!.idea/inspectionProfiles

# JetBrains Rider (if present)
.idea/
*.sln
*.csproj

# Misc
*.keystore
*.jks
